.content {
    /*height: auto;*/
    min-height: 40vh;
    width: 800px;
    border-radius: 3px;
    /*border: 1px solid #808080;*/
    background: rgba(255, 255, 255,0.7);
    /*background: white;*/
    padding: 20px;
    margin-top: 50px;
    font-size: 17px;
    margin-left: auto; !important;
    box-shadow: 0px 1px 20px 1px rgba(50, 160, 190,0.1);
}

.table-of-contents{
    margin-top: 50px;
    padding: 10px;
    font-size: 15px;
    background-color: rgba(255, 255, 255,0.7);
    /*background-color: #72c3da;*/
    /*border: 1px solid #808080;*/
    width: 175px;
    height: 200px;
    margin-right: auto; !important;
    margin-left: 5px;
    box-shadow: 0px 1px 20px 1px rgba(50, 160, 190,0.1);
    border-radius: 3px;
}

.side{
    display: flex;
    flex-direction: row-reverse;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#ToTop {
    display: none;
    box-shadow: 0px 1px 20px 1px rgba(50, 160, 190,0.5);
    position: fixed;
    bottom: 20px;
    right: 60px;
    font-size: 18px;
    outline: none;
    border: none;
    /*background-color: #72c3da;*/
    background-color: white;
    padding: 15px;
    color: black;
    width: 100px;
    cursor: pointer;
    border-radius: 5px;

}

.underline {
    border-bottom: 1px solid #559bdd;
    border-radius: 5px;
}


#ToTop:hover {
    background-color: #42454a;
    color: white;
}
@media only screen and (max-width: 750px) {

    .side{
        display: inline;
        flex-direction: row;
    }

    .table-of-contents{
        margin-top: 20px;
        padding: 10px;
        font-size: 14px;
        box-shadow: 0px 1px 20px 1px rgba(50, 160, 190,0.1);
        width: auto;
        height: 200px;
        text-align: center;
    }

    .content {
        min-height: 40vh;
        width: auto;
        border-radius: 5px;
        box-shadow: 0px 1px 20px 1px rgba(50, 160, 190,0.1);
        padding: 20px;
        margin-top: 20px;
        font-size: 15px;
        margin-left: auto; !important;
        margin-right: auto; !important;
    }

    #ToTop {
        right: 30px;
        z-index: 2;
    }

}

.collapsible {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 17px;
    width: 100%;
    border: none;
    text-align: left;
    font-size: 17px;
    font-weight: 550;
    box-shadow: 0px 1px 10px 1px rgba(50, 160, 190,0.06);
}

.active, .collapsible:hover {
    background-color: #42454a;
    /*background-color: black;*/
    color: white;
}


.section {
    display: none;
    padding: 10px;
    overflow: hidden;
    /*background-color: #f3f4fc;*/
}