body {
    background-color: #e5e7f0;
    color: black;
    font: 18px helvetica;
    margin:0;
    padding:0;
    height:100%;
}


.header {
    background: rgba(255, 255, 255,0.7);
    /*border-bottom: 1px solid rgba(50, 160, 190,0.5);*/
    box-shadow: 0px 1px 10px 1px rgba(50, 160, 190,0.07);
}

.header-text {
    padding: 25px;
    color: black;
    font: 20px helvetica;
    text-decoration: none
}
.header-text:hover {
    background: #42454a;
    color: white;
}

.center-text{
    text-align: center;
    vertical-align: middle;

}

.center {
    height: 70px;
    margin-right: auto !important;
    margin-left: auto !important;
    width: 750px;
    display: flex;
}


.header-sizing{
    padding: 25px;
}

@media only screen and (max-width: 750px) {
    .center{
        background-color: white;
        width: auto;
        height: 290px;
        display: block;
    }
    .header-text {
        background-color: white;
        display: block;
        vertical-align: middle;
        text-align: center;
        padding: 20px;
        color: black;
        font: 16px helvetica;
    }

}
